.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.children{
  width: 49%;
  height: 300px;
  border: 2px solid black;
}

@media screen and (max-width: 768px){
  .children{
    width: 100%;
  }
}
